*{
    margin: 0;
}


body{
    background-image: url(../../src/img/login\ back.png.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.logo > span {
    font-family: Akira Expanded;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    color: #F6FFFF;
    display: flex;
}


form{
    background: rgba(18, 0, 0, 0.68);
    backdrop-filter: blur(9.199999809265137px);
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 1rem;
  
}
fieldset {
  border: none;
}
fieldset > h1{
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 44.676px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.input > label {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 1.5rem ;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.input > input{
    width: 700px;
    height: 30px;
    flex-shrink: 0; 
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn > input {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 44.676px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 291px;
    height: 86px;
    border-radius: 8px;
    border: none;  
    background: rgba(249, 254, 255, 0.67);
    backdrop-filter: blur(20px);
    margin: 1rem;
  }
.btn > span {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.link_cadastro{
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

